#
# nfEngine project - ignored files list
#

# Documentation
/Doc

# Folders with binaries
/Bin/Win32/Debug
/Bin/Win32/Release
/Bin/x64/Debug
/Bin/x64/Release

# CMake intermediate files
CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile

# Visual Studio precompiled headers
/ipch

# Visual Studio intermediate projects' directories
/Obj

# Output dir and files
/Bin
*.a
*.so

# External files updated through GDrive
/nfEngineTest/Data

# Deps directory updated through separate Git repo
/nfenginedeps

# Shader compilation results
/ShaderCache
/ShaderCache_Debug

# Visual Studio Performance Analysis Results
*.vsp
*.psess

# Other useless folders and file patterns
/Logs
*.opensdf
*.sdf
*.suo
*.vcxproj.user

# script outputs
cppcheck_result.txt
clean_errors.txt
