#
# nfEngine project - ignored files list
#

# Documentation
/Doc

# CMake intermediate files
CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile

# Visual Studio precompiled headers
/ipch

# Visual Studio intermediate projects' directories
/Obj

# Output dir and files
/Bin
*.a
*.so

# Non-versioned test resource files
/nfEngineDemo/Data
/nfEngineDemo/CookedData

# Shader compilation results
/ShaderCache
/ShaderCache_Debug

# Visual Studio Performance Analysis Results
*.vsp
*.psess

# Other useless folders and file patterns
/Logs
/nfEngine/TestResources/ImageSamples/SaveTests
*.opensdf
*.opendb
*.sdf
*.suo
*.vcxproj.user
*.pyc
*.VC.db
.vs/

# Build results on Linux
/build-*

# Smart Commandline Arguments plugin
*.args.json

# script outputs
cppcheck_result.txt
clean_errors.txt
