[project]
	description = Game engine
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Michał (Witek902)
[access "refs/for/refs/*"]
	read = group user/Michał (Witek902)
	push = group user/Michał (Witek902)
	label-Code-Review = -2..+2 group user/Michał (Witek902)
	label-Verified = -1..+1 group user/Michał (Witek902)
	rebase = group user/Michał (Witek902)
	removeReviewer = group user/Michał (Witek902)
	submit = group user/Michał (Witek902)
[access "refs/heads/*"]
	read = group user/Michał (Witek902)
	create = group user/Michał (Witek902)
	push = +force group user/Michał (Witek902)
	pushMerge = group user/Michał (Witek902)
[access "refs/tags/*"]
	push = +force group user/Michał (Witek902)
	pushTag = group user/Michał (Witek902)
	pushSignedTag = group user/Michał (Witek902)
