[project]
	description = Game engine
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group nfproject-owners
	owner = group user/Michal Witanowski (Witek902)
[access "refs/for/refs/*"]
	read = group nfproject-owners
	read = group user/Michal Witanowski (Witek902)
	push = group nfproject-owners
	push = group user/Michal Witanowski (Witek902)
	label-Code-Review = -2..+2 group nfproject-owners
	label-Code-Review = -2..+2 group user/Michal Witanowski (Witek902)
	label-Code-Review = -1..+1 group nfproject-devs
	label-Verified = -1..+1 group nfproject-devs
	label-Verified = -1..+1 group nfproject-owners
	label-Verified = -1..+1 group user/Michal Witanowski (Witek902)
	rebase = group nfproject-owners
	rebase = group user/Michal Witanowski (Witek902)
	removeReviewer = group nfproject-owners
	removeReviewer = group user/Michal Witanowski (Witek902)
	submit = group nfproject-owners
	submit = group user/Michal Witanowski (Witek902)
[access "refs/heads/*"]
	read = group nfproject-owners
	read = group user/Michal Witanowski (Witek902)
	create = group nfproject-owners
	create = group user/Michal Witanowski (Witek902)
	push = +force group nfproject-owners
	push = +force group user/Michal Witanowski (Witek902)
	pushMerge = group nfproject-owners
	pushMerge = group user/Michal Witanowski (Witek902)
	submit = group nfproject-owners
	submit = group user/Michal Witanowski (Witek902)
	label-Code-Review = -2..+2 group nfproject-owners
	label-Code-Review = -1..+1 group nfproject-devs
	label-Verified = -1..+1 group nfproject-devs
	label-Verified = -1..+1 group nfproject-owners
[access "refs/tags/*"]
	push = +force group nfproject-owners
	push = +force group user/Michal Witanowski (Witek902)
	pushTag = group nfproject-owners
	pushTag = group user/Michal Witanowski (Witek902)
	pushSignedTag = group nfproject-owners
	pushSignedTag = group user/Michal Witanowski (Witek902)
[receive]
	requireSignedOffBy = false
	requireChangeId = true
[submit]
	action = fast forward only
	mergeContent = false
